@import "variables";

*, *::before, *::after {
  box-sizing: border-box;
  border-radius: 3px;
}

body {
  margin: 0;
  font-family: 'arial';
  background-color: $backgroundcolor;
  color: $font-color;
}
