@media screen and (min-width: 600px) {
  header {
    display: none;
  }
  .header-two {
    display: block;
    .logo {
      text-align: center;
    }
    h4.logo {
      width: 30%;
      margin: 0 auto;
    }
    ul {
      margin-top: 50px;
      display: flex;
      justify-content: space-around;
    }
    li {
      list-style: none;
    }
  }
}

@media screen and (max-width: 375px) {
  h1.logo {
    // font-size: 12px;
  }
  h4.logo {
    display: none;
  }
}

@media screen and (min-width: 445px) {
  .mobile-button-box {
    width: 100%;
    min-height: 150px;
    max-height: 200px;
  }
}

@media screen and (min-width: 555px) {
  #header, #header2 {
    border: 1px solid black;
    background-color: snow;
    margin: 0 1% !important;
  }
  .main-div {
    display: grid;
    margin-top: 0 !important;
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-template-columns: 1fr 1fr;
    img.banner {
      grid-column: 1 / 3;
    }
  }
  .footer {
    display: flex !important;
  }
  .footer img {
    display: none !important;
  }
  .mobile-button-box {
    display: none !important;
  }
  .provided-image-container {
    display: none !important;
  }
  #confused-guys {
    margin-top: 10%;
  }
  .body {
    margin: 1% 1% 0 1%;
    border: 1px solid black;
    background-color: snow;
    grid-column: 1 / 3;
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    .body-option {
      display: flex;
      margin: 1% 3%;
      margin-left: 10%;
      flex-direction: column;
      text-align: center;
      img {
        width: 90%;
      }
    }
  }
  .body-2 {
    justify-content: center;
    align-items: center;
    grid-column: 1 / 3;
    display: flex !important;
    width: 96%;
    margin: 1% auto;
    border: 1px solid black;
    text-align: center;
    background-color: snow;
    img {
      width: 70%;
    }
  }
}

@media screen and (min-width: 896px) {
  .main-div {
    display: grid;
    grid-auto-rows: minmax(50px, auto);
    grid-template-columns: 1fr 2fr;
  }
}
