.who {
  background-color: snow;
  text-align: center;
  padding: 15px 25px;
  width: 98%;
  border: 1px solid black;
  margin: 0 auto;
  h3 {
    text-align: center;
  }
  p {
    text-align: left;
  }
}

.memo {
  background-color: #113322;
  color: white;
  font-weight: lighter;
  padding: 15px 25px;
  width: 98%;
  margin: 2% auto;
}
