<header id="header">
  <h1 class="logo">The Space</h1>
  <h4 class="logo">Working Together, building community.</h4>
  <input type="checkbox" id="nav-toggle" class="nav-toggle">
  <nav>
    <ul id="nav-list">
      <li><a routerLink="">Home</a></li>
      <li><a routerLink="who">Who</a></li>
      <li><a routerLink="work">Work</a></li>
      <li><a routerLink="what">What</a></li>
      <li><a routerLink="fun">Fun</a></li>
      <li><a routerLink="news">News</a></li>
      <li><a routerLink="contact">Contact</a></li>
    </ul>
  </nav>
  <label for="nav-toggle" class="nav-toggle-label">
    <span></span>
  </label>
</header>
<div id="header2" class="header-two">
  <h1 class="logo">The Space</h1>
  <h4 class="logo">Working Together, building community.</h4>
  <ul>
    <li><a routerLink="">Home</a></li>
    <li><a routerLink="who">Who</a></li>
    <li><a routerLink="work">Work</a></li>
    <li><a routerLink="what">What</a></li>
    <li><a routerLink="fun">Fun</a></li>
    <li><a routerLink="news">News</a></li>
    <li><a routerLink="contact">Contact</a></li>
  </ul>
</div>
<br>

<div class='container'>
  <div class="wrapper">
    <router-outlet></router-outlet>
    <div class="footer">
      <img src="../assets/images/color-tree.png" alt="colorful image">
      <ul>
        <li><strong>Phone:</strong> 503-867-5309</li>
        <li><strong>Address:</strong> 400 sw 6th Portland, Oregon 97202</li>
      </ul>
    </div>
  </div>
  <div class="test">
    <h3>Dates to remember:</h3>
  </div>
</div>
