<header>
  <h1 class="logo">The Space</h1>
  <h4 class="logo">Working Together, building community.</h4>
  <input type="checkbox" id="nav-toggle" class="nav-toggle">
  <nav>
    <ul id="nav-list">
      <li><a routerLink="">Home</a></li>
      <li><a routerLink="who">Who</a></li>
      <li><a routerLink="work">Work</a></li>
      <li><a routerLink="what">What</a></li>
      <li><a routerLink="fun">Fun</a></li>
      <li><a routerLink="news">News</a></li>
      <li><a routerLink="contact">Contact</a></li>
    </ul>
  </nav>
  <label for="nav-toggle" class="nav-toggle-label">
    <span></span>
  </label>
</header>
<div class="header-two">
  <h1 class="logo"><a routerLink="">The Space</a></h1>
  <h4 class="logo">Working Together, building community.</h4>
  <ul>
    <li><a routerLink="">Home</a></li>
    <li><a routerLink="who">Who</a></li>
    <li><a routerLink="work">Work</a></li>
    <li><a routerLink="what">What</a></li>
    <li><a routerLink="fun">Fun</a></li>
    <li><a routerLink="news">News</a></li>
    <li><a routerLink="contact">Contact</a></li>
  </ul>
</div>
<br>
<router-outlet></router-outlet>
