<div class="main-div">
  <div class="provided-image-container">
    <img id="window-light" src="../../assets/images/window-stare.jpeg" alt="location images">
  </div>
  <div class="home-main">
    <div id="box1" class="mobile-button-box">
      <a routerLink="who"><img src="../../assets/images/icon-person.png" alt="person looking confused"></a>
      <p>Who are we?</p>
    </div>
    <div id="box2" class="mobile-button-box">
      <a routerLink="what"><img src="../../assets/images/icon-?" alt="question-mark"></a>
      <p>What do we offer?</p>
    </div>
  </div>
  <div class="body">
    <div class="body-option">
        <a routerLink="who"><img src="../../assets/images/behind-monitor.jpg" alt="tablet-buttons"></a>
      <p>Who are we?</p>
    </div>
    <div id="confused-guys" class="body-option">
      <a routerLink="what"><img src="../../assets/images/confused-guys.jpg" alt="tablet-buttons"></a>
      <p>What do we do?</p>
    </div>
    <div class="body-option">
      <a routerLink="fun"><img src="../../assets/images/swords.gif" alt="tablet-buttons"></a>
      <p>Have fun while you work</p>
    </div>
    <div class="body-option">
      <a routerLink="work"><img src="../../assets/images/office-space.jpeg" alt="tablet-buttons"></a>
      <p>No more Office Space moments</p>
    </div>
  </div>
  <div class="body-2">
    <div id="body-option1" class="body-option">
      <img src="../../assets/images/who.jpg" alt="tablet-buttons">
      <p>Who are we?</p>
    </div>
    <div id="body-option1" class="body-option">
      <a routerLink="contact"><img src="../../assets/images/celly.png" alt="tablet-buttons"></a>
      <p>Contact us</p>
    </div>
    <div id="body-option1" class="body-option">
      <a routerLink="news"><img src="../../assets/images/NewsletterIcon.png" alt="tablet-buttons"></a>
      <p>Get newsletter</p>
    </div>
  </div>
  <div class="provided-image-container">
    <img src="../../assets/images/seating.png" alt="location images">
  </div>

  <div class="home-main">
    <div id="box1"class="mobile-button-box">
      <a routerLink="fun"><img src="../../assets/images/icon-dancing.png" alt="people dancing"></a>
      <p>Fun</p>
    </div>
    <div id="box2" class="mobile-button-box">
      <a routerLink="work"><img src="../../assets/images/icon-reading.png" alt="icon of person reading"></a>
      <p>Work</p>
    </div>
  </div>
  <div class="memo">
    <p>Any and all are welcome.  If you have any questions or would like to get involved, please give us a call or stop on by.  We are open 24-7 and always have the time to give you a tour and talk about options.  We look forward to working with you soon!</p>
  </div>
</div>
