<img class="banner" src="../../assets/images/rainbow-kids.png" alt="rainbow children">


<div class="home-main">
  <div id="box1"class="mobile-button-box">
    <a routerLink="who"><img src="../../assets/images/icon-person.png" alt="person looking confused"></a>
    <p>Who are we?</p>
  </div>
  <div id="box2" class="mobile-button-box">
    <a routerLink="what"><img src="../../assets/images/icon-?" alt="question-mark"></a>
    <p>What do we offer?</p>
  </div>
</div>

<div class="provided-image-container">
  <img src="../../assets/images/seating.png" alt="location images">
</div>

<div class="home-main">
  <div id="box1"class="mobile-button-box">
    <a routerLink="fun"><img src="../../assets/images/icon-dancing.png" alt="people dancing"></a>
    <p>Fun</p>
  </div>
  <div id="box2" class="mobile-button-box">
    <a routerLink="work"><img src="../../assets/images/icon-reading.png" alt="icon of person reading"></a>
    <p>Work</p>
  </div>
</div>
