.wrap {
  display: flex;
  flex-direction: column;
  img {
    width: 98%;
    margin: 0 1%;
  }
  h3 {
    text-align: center;
    font-size: 24px;
  }
  p {
    background-color: snow;
    padding: 15px 25px;
    border: 1px solid black;
    width: 98%;
    margin: 0 auto;
    margin-bottom: 25px;
  }
}
